@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model List<Costumer>
@{
    ViewData["Title"] = "Home Page";
}
@await Html.PartialAsync("../Shared/_NavBar")
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
							<th><span>User</span></th>			
							<th><span>Email</span></th>
						</tr>
					</thead>
					<tbody>
                        @foreach(Costumer p in Model)
                        {
						<tr>
							<td>
								<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
								<a href="#" class="user-link">@p.FirstName @p.LastName</a>
							</td>
							<td>
								<a>@p.Email</a>
							</td>
                            <td>
								 @if(@HttpContextAccessor.HttpContext.Session.GetInt32("UserId") ==@p.UserId ){<a asp-action="Delete" asp-route-UserId="@p.UserId">Remove</a> } 
       <a asp-action="Edit" asp-route-id="@p.UserId">Details</a> 
							</td>
						</tr>
                        }
					</tbody>
				</table>
			</div>
			<ul class="pagination pull-right">
				<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
</div